%h1
  %a(href="/")
    %p Olbark
%nav
  %ul
    %li
      %a(href="about")
        %p O nas
    %li
      %a(href="offer")
        %p Oferta
    %li
      %a(href="contact")
        %p Kontakt
#promo
  %img{:src => '/images/sample02.png'}
  