.row.split
  .quarter
    %a(href="/")
      %p Strona główna
  .quarter
    %a(href="about")
      %p O nas
  .quarter
    %a(href="offer")
      %p Oferta
  .quarter
    %a(href="contact")
      %p Kontakt
