#promo
  %img{:src => '/images/onas.jpg'}
#intro.inner
  .row
    .half
      %h3 O nas
      %h4.subheader Posiadamy duże doświadczenie w budownictwie na terenach górniczych
      %p Firma OLBARK to przede wszystkim wykwalifikowana kadra inżynierska. Współpracujemy ze specjalistami w różnych dziedzinach budownictwa, posiadającymi odpowiednie kwalifikacje. 
      %p Działamy na rynku od kilku lat, ale jako Usługi Inżynieryjne i Doradztwo „OLBARK”, od 2012 roku. Posiadamy ogromny bagaż doświadczenia w budownictwie na terenach górniczych. Odpowiednie przygotowanie merytoryczne i praktyczne pozwala nam na sprawne i skuteczne przeprowadzenie każdego procesu budowlanego. 
      %p Zapraszamy do współpracy wszystkich klientów indywidualnych oraz instytucje. Usługa zostanie wykonana wg najwyższych standardów, w oparciu o inżynierską sztukę budowlaną, popartą normami i warunkami technicznymi. 
  
    .half
      %h3 Usługi
      %h4.subheader Oferujemy usługi na indywidualne życzenie klienta
      %p Prowadzimy działalność usługową w zakresie:
      %ul
        %li
          kierowania i nadzoru inwestorskiego nad realizacją procesu budowlanego wszelkich obiektów budowlanych
        %li
          kosztorysowania robót budowlanych
        %li
          przeglądów okresowych obiektów budowlanych 
        %li 
          inwentaryzacji z wykonaniem dokumentacji, konsultacji, porad i ekspertyz techniczno-budowlanych
        %li
          innych usług na indywidualne życzenie klienta
    