.row.centered
  %h3 USŁUGI INŻYNIERYJNE I DORADZTWO
  %h1 „OLBARK”
  %p inż. Arkadiusz Olborski
  %h3 Witamy na stronie firmy
  %h3 Zapraszamy do współpracy
  
  %p Nasze motto:
  %p „Przede wszystkim ekologia.
  %p Kształtujmy środowisko tak, aby pozostawić spuściznę dla potomnych”