!!!
%html{:lang => "en"}
  %head
    %title App
    %meta{:charset => "utf-8"}
    %script{:src => "/vendor/jquery/jquery-min.js"}
    %script{:src => "/vendor/underscore/underscore-min.js"}
    %script{:src => "/vendor/backbone/backbone-min.js"}
    %link{:rel => "stylesheet", :href => "/styles/kube101/css/kube.css"}
    %link{:rel => "stylesheet", :href => "/styles/app.css"}
    %script{:src => "/scripts/app.js"}
  %body
    .wrapper
      #header.group
        %header
          = partial :header
        / %section#content
        /           = yield
        %ul#intro.block-three
          %li
            .inner
              %h3 O nas
              %h4.subheader Huj
              %p Działamy na rynku od kilku lat, ale jako Usługi Inżynieryjne i Doradztwo „OLBARK” od 2012 roku.
              Firma OLBARK to przede wszystkim wykwalifikowana kadra inżynierska. Współpracujemy ze specjalistami w różnych dziedzinach budownictwa, posiadającymi odpowiednie kwalifikacje.
              Prowadzimy działalność usługową w zakresie kierowania i nadzoru inwestorskiego nad realizacją procesu budowlanego wszelkich obiektów budowlanych, kosztorysowania robót budowlanych, przeglądów okresowych obiektów budowlanych, inwentaryzacji z wykonaniem dokumentacji, konsultacji, porad i ekspertyz techniczno budowlanych oraz innych usług na indywidualne życzenie klienta. 
              Posiadamy ogromny bagaż doświadczenia w budownictwie na terenach górniczych. 

              Odpowiednie przygotowanie merytoryczne i praktyczne pozwala nam na sprawne i skuteczne przeprowadzenie każdego procesu budowlanego.
              Zapraszamy do współpracy wszystkich klientów indywidualnych oraz instytucje.
              Usługa zostanie wykonana wg najwyższych standardów, w oparciu o inżynierską sztukę budowlaną popartą normami i warunkami technicznymi. 		
          %li
            .inner
              %h3 Oferta
              %h4.subheader Huj
              %p Firma Usługi Inżynieryjne i Doradztwo „OLBARK” oferuje:
              %ul 
                %li
                  Pełnienie nadzorów w osobie kierownika budowy, kierownika robót oraz inspektora nadzoru inwestorskiego przy wznoszeniu wszelkich obiektów budowlanych (np. drogi, domy jedno- i wielorodzinne, obiekty użyteczności publicznej, obiekty sportowe, obiekty mostowe, sieci elektryczne i wod-kan itp…)
                %li
                  Kosztorysowanie robót budowlanych
                %li
                  Projekty tymczasowej organizacji ruchu
                %li
                  Przygotowanie harmonogramów, bilansu i przeprowadzenie rozliczenia robót na etapie realizacji obiektów budowlanych lub powykonawczo
                %li
                  Przeprowadzenie przeglądów okresowych obiektów budowlanych
                %li
                  Wykonanie inwentaryzacji obiektów budowlanych wraz z dokumentacją
                %li
                  Konsultacje i porady w dziedzinie branży budowlanej
                %li
                  Wykonanie ekspertyz i opinii w zakresie obiektów budowlanych
                %li
                  Wykonanie pomiarów niwelacji terenu
                %li
                  Rzetelne przeprowadzenie obmiarów i pomiarów kontrolnych wykonanych etapów robót lub zrealizowanych obiektów budowlanych

              %h2 ZAPRASZAMY DO WSPÓŁPRACY
              
              
          %li
            .inner
            
              %h3 Kontakt
              %h4.subheader mgr inż. Arkadiusz Olborski        
              %form{:action => "/", :method => "post", :class => "forms"}
                %fieldset
                  %ul
                    %li
                      %label{:for => "email", :class => "bold"}Email
                      %input{:type => "text", :name => "email", :size => "40"}
                    %li
                      %label{:for => "body", :class => "bold"}Wiadomość
                      %input{:type => "text", :name => "body", :size => "40"}
                    
     
                  %input{:type => "submit", :class => "btn btn-round", :value => "Wyslij"}
              / NIP: 642-291-43-23
              %p 44-238 Czerwionka-Leszczyny
              %p ul. Chopina 4A /7
              %p Tel: +48 503 415 138

              <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?q=Fryderyka+Chopina,+44-230+Czerwionka-Leszczyny,+rybnicki,+%C5%9Bl%C4%85skie&amp;hl=pl&amp;ie=UTF8&amp;sll=50.299867,19.006348&amp;sspn=1.382508,2.883911&amp;geocode=FWcN_QIdxU0cAQ&amp;hnear=Fryderyka+Chopina,+44-230+Czerwionka-Leszczyny,+rybnicki,+%C5%9Bl%C4%85skie&amp;t=m&amp;hq=&amp;z=14&amp;ll=50.138471,18.632133&amp;output=embed"></iframe><br /><small><a href="https://maps.google.pl/maps?q=Fryderyka+Chopina,+44-230+Czerwionka-Leszczyny,+rybnicki,+%C5%9Bl%C4%85skie&amp;hl=pl&amp;ie=UTF8&amp;sll=50.299867,19.006348&amp;sspn=1.382508,2.883911&amp;geocode=FWcN_QIdxU0cAQ&amp;hnear=Fryderyka+Chopina,+44-230+Czerwionka-Leszczyny,+rybnicki,+%C5%9Bl%C4%85skie&amp;t=m&amp;hq=&amp;z=14&amp;ll=50.138471,18.632133&amp;source=embed" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a></small>

              